html{
    font-size: 62.5%;
}
body{
    background-color:#fff48f;
    margin: 0rem;
    padding: 0rem;
    s

}
.color{
    animation: clr 2s infinite;

}
@keyframes clr {
    0%{color: #111d5e;}
    25%{color:#006a71;}
    50%{color: #111d5e;}
    100%{color:#006a71;}
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
.main-nav li a:hover{
    background: #f3db07;
   

}
 
section{
    width: 100%;
    height:95vh ;
    background-image:url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color:#fff48f;
    box-shadow: 0.2rem 0.2rem 1.2rem
     rgba(0,0,0,0.2);
    padding: 0rem 0.5rem;
    border-bottom: 2.3px dotted black;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 2.8rem;
    font-family:calibri;
    color:black ;
    font-size: 1.5rem;
    font-weight: 700;
}
.logo{
    width: 6rem;
}
.home{
    font-weight: bold;
    color: darkslategrey;
}
#model{
    width: 380px;
    height: 380px;
    border: 2px solid grey;
    border-radius:50%;
    margin-left: 690px;
    
    
}
.text{
    
    display: inline-block;
    margin-left: 140px;
    position: absolute;
    font-size: 40px;
    font-family: 'Playball', cursive;
    font-weight: bold;
}
.responsive{
    
    display: flex;
    margin-top: 40px;
}
@media  only screen and (max-width:1074px){
    #model{
        margin-left: 600px;
        position: relative;
    }
    .text{
        margin-left: 95px;  
    }
}
@media  only screen and (max-width:985px){
    #model{
        margin-left: 560px;
        position: relative;
    }
    .text{
        margin-left: 75px;  
    }
}
@media  only screen and (max-width:443px){
    .text{
        font-size: 22px;
        margin-top: 230px;
        position: absolute;
    }
    .responsive{
        flex-direction: column;
    }
    #model{
              width: 240px;
              height: 240px;
              margin-left: 75px;
    }
}

.container{
    width: 100%;
    
    height: 350px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    background-color: #fff48f;
}
.item1{
border: 2px solid black;
width: 31%;
height: 350px;
border-radius: 10px;
font-size: 25px;
    font-family: 'Playball', cursive;
    background-image: url(../images/contain.jpg);
    
}
.item2{
    border: 2px solid black;
    width: 31%;
    height: 350px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Playball', cursive;
    background-image: url(../images/contain.jpg);
    
    }
    .item3{
        border: 2px solid black;
        width: 31%;
        height: 350px;
        border-radius: 10px;
        font-size: 25px;
        background-image: url(../images/contain.jpg);
        
    font-family: 'Playball', cursive;
        }