html{
    font-size: 62.5%;
}
html,body{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); 
    margin: 0rem;
    padding: 0rem;
    }
.color{

    animation: clr 2s infinite;
}
@keyframes clr {
    0%{color: #440047;}
    25%{color:#006a71;}
    50%{color: #440047;}
    100%{color:#006a71;}
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
.main-nav li a:hover{
    color: #504f4c;
   

}
 
section{
    width: 100%;
    height:95vh ;
    background-image:url('../images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); 
    box-shadow: 0.2rem 0.2rem 1.2rem;
    
    padding: 0rem 0.5rem;
    border-bottom: 2.3px dotted greenyellow;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 2.8rem;
    font-family:calibri;
    color:white ;
    font-size:20px;
    font-weight: 700;
}
.logo{
    width: 6rem;
    border: 2px solid white;
    border-radius: 50%;
}
.home{
    font-weight: bold;
    color: white;
}
#model{
    width: 380px;
    height: 380px;
    border: 3.8px solid grey;
    border-radius:50%;
    margin-left: 690px;
    
    
}
.text{
    
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    font-size: 40px;
    font-family:cursive;
    font-weight: bold;
}
.responsive{
    
    display: flex;
    margin-top: 40px;
}


.container{
    width: 100%;
    
    height: 350px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); 
}
.item1{
border: 2px solid black;
width: 31%;
height: 350px;
border-radius: 10px;
font-size: 25px;
    font-family: 'Playball', cursive;
    background-image: url(../images/backnew.jpg);
    
}
.item2{
    border: 2px solid black;
    width: 31%;
    height: 350px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Playball', cursive;
    background-image: url(../images/backnew.jpg);
    
    }
    .item3{
        border: 2px solid black;
        width: 31%;
        height: 350px;
        border-radius: 10px;
        font-size: 25px;
        background-image: url(../images/backnew.jpg);
        
    font-family: 'Playball', cursive;
        }
        .heading{
            
            margin-left: 575px;
            margin-top: 25px;
            font-family: cursive;
  width: 50%;
  font-size: 35px; ;
  padding: 10px;
  color: yellow;
  
        }
        
  
 
         .skills{

            margin-left: 550px;
             font-family: cursive;
             width: 50%;
            font-size: 35px; 
             color: yellow;
            padding: 10px;
        }
        .mid{
            display: flex;
            margin-left:250px;
            border-radius: 10px;
            height: 350px;
            width: 850px; ;

        }
        .elements{

            margin: 60px auto;
            width: 500px;
            color:white;
            font-size: 20px;
            font-family: cursive;

        }
        .elements li{
            list-style: none;
        }
        .bar{
            background: rgba(34, 125, 167, 0.2);
            display: block;
            height: 6px;
            border: 2px solid rgba(0,0,0,0.2);
            border-radius: 3px;
            overflow: hidden;
            box-shadow: o o 10px #81b6e7b3;
        }
        .bar span{
            height: 6px;
            float: left;
            background:#81b6e7b3; 
        }
        .html{
            width: 70%; ;
        }
        .css{
            width: 66%; ;

        }
        .C{
            width: 80%; ;

        }
        .cpp{
            width: 80%; ;

        }
        .social{
            display: flex;
            font-family: cursive;
            color: yellow;
            font-size: 30px;
            margin-top: 50px;
            justify-content: center;

        }
        .contact{
            display: flex;
            font-family: cursive;
            font-size: 30px;
            margin-top: 100px;
            justify-content: center;
            color:yellow;

        }
        .social-icon a{
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: black;
            margin: 40px 10px;
            border-radius: 10%;
        }
        .social-icon{
            display: flex;
            flex-direction: row;
            margin-left: 590px;
        }
        .social-icon i{
            color: #f5f3f3;
        }
        .social-icon a:hover{
            background-color: white;
            box-shadow: 2px 2px 12px rgba(243, 239, 4, 0.596);
            transition: all ease 0.5s;

        }
        .social-icons{
            width: 100%;
            height: 300px;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pic1{
            height: 200px;
            width: 200px;
            margin-right:60px ;
            cursor: pointer;
            border: 7px solid black;
            border-radius: 20px;
            box-shadow: 0,0,20,0 yellow;
            overflow: hidden;
            

            
        }
        .pic2{
            height: 200px;
            width: 200px;
            cursor: pointer;
            border: 7px solid black;
            border-radius: 20px;
            
        }
        .pic3{
            height: 200px;
            width: 200px;
            margin-left: 60px;
            border: 7px solid black;
            border-radius: 20px;
           
            
        }

    .icon1{
        overflow: hidden;
    }
    .icon1 img{
         transition:transform .5s ease;
    }
    .icon1:hover img{
        transform: scale(1.5);
    }
        hover.pic1{
            cursor: pointer;
            transition:transform .5s ease;
        }
        hover.pic2{
            cursor: pointer;
        }
        hover.pic3{
            cursor: pointer;
        }
        #copy{
            color: white;
            background-color: black;
            font-size: 15px;
            font-family: cursive;
            text-align: center;
            margin-top: 10px;
        }
        @media only screen and (max-width:1000px){
            body{background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
            background-repeat: no-repeat;
        background-position: center;
    background-clip: cover;}
        
     
}

        @media only screen and (max-width:1100px){
            #model{
                margin-left: 70px;
                height: 250px;
                width: 250px;
            }
            .text{
                
                display: inline-block;
    margin-left: 30px;
margin-top:260px ;
    font-size: 20px;
    font-family:cursive;
    
            }
            #one,#two{
                color: yellowgreen;
            }
            .heading{
                margin-left: 90px;
                margin-top: 120px;
            }
            .skills{
                margin-left: 90px;
            }
          
.container{
    width: 100%;
    
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: space-between;

}
.item1,.item2,.item3{
    width: 100%;
    font-size:23px ;
    
}
.item2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mid{

    margin-left: -230px;
}
.elements{
font-size: 20px;
width: 350px;
}
.pic1,.pic2,.pic3{
    height: 80px;
    width: 80px;
}
.pic3{
    margin-right: 30px;
}
.pic1{
    margin-left: 20px;
}
.social h1{
    margin-left: 10px;
}
        }