html{
    font-size: 62.5%;
}
body{
    background-color:#defcf9;
    margin: 0rem;
    padding: 0rem;

}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
section{
    width: 100%;
    height:95vh ;
    background-image:url("https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: antiquewhite;
    box-shadow: 0.2rem 0.2rem 1.2rem
     rgba(0,0,0,0.2);
    padding: 0rem 0.5rem;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 2.8rem;
    font-family:calibri;
    color:black ;
    font-size: 1.5rem;
    font-weight: 700;
}
.logo{
    width: 6rem;
}
.home{
    font-weight: bold;
    color: darkslategrey;
}
.text p:nth-child(1){
    font-family:calibri ;
    font-weight: bold;
    columns: black;
    font-size: 2.2rem;
}
.text p:nth-child(2){
    font-family:cursive ;
    font-weight: bold;
    columns: black;
    letter word-spacing: 1px;
    font-size: 5rem
    ;
}
.text p:nth-child(3){
    font-family:cursive ;
    font-weight: bold;
    columns: black;
    font-size: 3rem;
    line-height: 3rem;
}
.text p{
    line-height: 0rem;
    margin: 4.5rem 0rem 2.5rem;
}
.text{
    position: absolute;
    left: 9%;
    top: 35%;
    transform: translate(-9% -42%);
}
.model{
    height: 70%;
    position: absolute;
    bottom: 3.5rem;
    left: 70%;
    transform: translateX(-70%);
}